.ListView{
    width:60%;
    margin-left:20%;
    margin-top:2rem;
    height: min-content;
}

.PrevNextButton{
    background-color: gray;
    padding:1rem 2rem;
    color:white;
    border-radius: 10px;
}

.PrevNextButton:hover{
    cursor: pointer;
}

.ChangeShowingRecords{
    margin:1rem;
    display:flex;
    justify-content: space-around;
}